<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sequence Finder</title>
    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Sequence Finder</h1>
    <form action="" method="post">Sequence:
        {% csrf_token %}
        <input type="text" name="info">
        <input type="submit" value="Submit">
    </form>
    <p>
        {% for sequence in sequences %}
            <br/>
            <table>
                <tr>
                    <th>Sequence</th>
                    <td>{{ sequence.title}}</td>
                </tr>
                <tr>
                    <th>Protein</th>
                    <td>{{ sequence.protein }}</td>
                </tr>
                <tr>
                    <th>Index</th>
                    <td>{{ sequence.index }}</td>
                </tr>
            </table>
        {% endfor %}
    </p>
</body>
</html>



